/* You can add global styles to this file, and also import other style files */
.app-button {
    padding: 12px 24px;
    border-radius: 16px;
    min-width: 100px;
    margin: 4px;
    border: none;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .warn-button {
    background-color: #e00040;
    color: white;
  }
  
  .primary-button {
    background-color: #342ea2;
    color: white;
  }
  
  .secondary-button {
    background-color: #0f6a20;
    color: white;
  }