/* You can add global styles to this file, and also import other style files */
.app-button {
    padding: 12px 24px;
    border-radius: 16px;
    min-width: 100px;
    margin: 4px;
    border: none;
    background-color: #fafafa;
    color: #000;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .button-active {
    background-color: #30597c;
    color: white;
  }